In [6]:
# Dependencies and Setup
import pandas as pd

In [17]:
# Create the CSV path
csv_path = "Resources/cities.csv"

# Read the CSV into a Pandas DataFrame
cities_df = pd.read_csv(csv_path)
cities_df = cities_df.rename(columns={"Unnamed: 0": "City_ID"}).set_index("City_ID")
cities_df.head()

,City,Lat,Lon,Max Temp (F),Humidity,Cloudiness,Wind Speed (mph),Country,Date
City_ID,,,,,,,,,
0,Bluff,-46.6000,168.3333,57.79,70,14,15.41,NZ,1659583256
1,Chokurdakh,70.6333,147.9167,48.20,61,100,14.74,RU,1659583257
2,Kapaa,22.0752,-159.3190,84.18,67,0,12.66,US,1659583257
3,Mogadishu,2.0371,45.3438,75.60,82,21,16.40,SO,1659583226
4,Punta Arenas,-53.1500,-70.9167,37.51,93,75,16.11,CL,1659583037

In [18]:
cities_df.to_html('Resources/table.html')